:root{
    --black: #000000;
    --orange: #FF8000;
    --white: #FFFFFF;
    --blue:  #665cbe;
    --green: #9bc848;
}

body{
    margin: 0%;
}

#img{
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../image/banner.jpg');
}

ul{
    margin: 0px;
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: center;
    background-color: var(--black);
}

.link{
    padding: 2px;
    font-size: 14pt;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 100px;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover{
    font-size: 15pt;
    color: var(--orange);
}

#play{
    color: var(--blue);
    font-size: 40pt;
    margin-top: 15px;
    margin-right: 30px;
    margin-bottom: 10px;
}

#play:hover{
    font-size: 41pt;
}

#xbox{
    color: var(--green);
    font-size: 40pt;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 10px;
}

#xbox:hover{
    font-size: 41pt;
}

#steam{
    color: var(--white);
    font-size: 40pt;
    margin-top: 15px;
    margin-left: 60px;
    margin-bottom: 10px;
}

#steam:hover{
    font-size: 41pt;
}